<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{160,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{187,515},{160,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{160,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{337,695},{160,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{160,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{349,515},{160,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{160,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{355,331},{160,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-23}</string>
                <key>spriteSize</key>
                <string>{158,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{517,331},{158,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{166,182}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{337,163},{166,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>l_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-21}</string>
                <key>spriteSize</key>
                <string>{186,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,163},{186,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>l_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-26}</string>
                <key>spriteSize</key>
                <string>{166,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,727},{166,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-23}</string>
                <key>spriteSize</key>
                <string>{158,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{677,331},{158,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{160,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{499,695},{160,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{160,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{511,511},{160,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-23}</string>
                <key>spriteSize</key>
                <string>{158,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{673,511},{158,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{166,182}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{521,163},{166,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>l_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-21}</string>
                <key>spriteSize</key>
                <string>{186,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,351},{186,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>l_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-26}</string>
                <key>spriteSize</key>
                <string>{166,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{169,727},{166,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{166,182}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{187,331},{166,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-21}</string>
                <key>spriteSize</key>
                <string>{186,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,539},{186,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>l_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-26}</string>
                <key>spriteSize</key>
                <string>{166,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{661,691},{166,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loli1_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{160,238}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loli2_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{160,232}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{241,1},{160,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loli3_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{160,230}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{475,1},{160,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loli_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{707,1},{96,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lotila.png</string>
            <key>size</key>
            <string>{836,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ddea730c0bf838033ab1eaccad0032f:50ffd7f081d8890e7e1c5cc5f08440fc:c75a23f0f3755de518d2e9ca01419797$</string>
            <key>textureFileName</key>
            <string>lotila.png</string>
        </dict>
    </dict>
</plist>
