<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,224}</string>
                <key>spriteSourceSize</key>
                <string>{399,224}</string>
                <key>textureRect</key>
                <string>{{643,1405},{399,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1245,700}</string>
                <key>spriteSourceSize</key>
                <string>{1245,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{1245,700}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1243,700}</string>
                <key>spriteSourceSize</key>
                <string>{1243,700}</string>
                <key>textureRect</key>
                <string>{{703,703},{1243,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1245,700}</string>
                <key>spriteSourceSize</key>
                <string>{1245,700}</string>
                <key>textureRect</key>
                <string>{{703,1},{1245,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{382,178}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1055,1405},{382,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>con2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{380,138}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1559,1685},{380,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{382,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{869,1405},{382,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>con4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{382,138}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1559,1405},{382,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{382,164}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1235,1405},{382,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>con6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{382,138}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1559,1545},{382,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{382,156}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1401,1405},{382,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1,1248},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>background1.png</string>
            <key>size</key>
            <string>{1949,1824}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35f6a47312969d4b00129aeceaba7ddc:8caa8d8d59379eb2c03c4baa0881287b:ea90a7d727dbc3f3b0df7bde5b63abd3$</string>
            <key>textureFileName</key>
            <string>background1.png</string>
        </dict>
    </dict>
</plist>
