<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{453,1},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{453,643},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{935,1},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1417,1},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,169}</string>
                <key>spriteSize</key>
                <string>{866,450}</string>
                <key>spriteSourceSize</key>
                <string>{1680,1260}</string>
                <key>textureRect</key>
                <string>{{1,1},{866,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1095,643},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yourScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,7}</string>
                <key>spriteSize</key>
                <string>{130,28}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{1,869},{130,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>back2.png</string>
            <key>size</key>
            <string>{1898,1124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e42d49a84b1e3feb2df894127d12dce:2c3252c9ae079937796e2fbfeae475fc:1075f593622bbd4fc410bfaa7af1da72$</string>
            <key>textureFileName</key>
            <string>back2.png</string>
        </dict>
    </dict>
</plist>
