<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,480}</string>
                <key>spriteSourceSize</key>
                <string>{900,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{900,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,480}</string>
                <key>spriteSourceSize</key>
                <string>{900,480}</string>
                <key>textureRect</key>
                <string>{{1,903},{900,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,480}</string>
                <key>spriteSourceSize</key>
                <string>{900,480}</string>
                <key>textureRect</key>
                <string>{{483,1},{900,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,480}</string>
                <key>spriteSourceSize</key>
                <string>{900,480}</string>
                <key>textureRect</key>
                <string>{{903,903},{900,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,480}</string>
                <key>spriteSourceSize</key>
                <string>{900,480}</string>
                <key>textureRect</key>
                <string>{{965,1},{900,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>back3.png</string>
            <key>size</key>
            <string>{1804,1384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77d1f6a34935f910c90e2434c6bf177d:eba163ff55a7e17d48dd01ea0b409295:880e02312ec78da518d6c5de89213152$</string>
            <key>textureFileName</key>
            <string>back3.png</string>
        </dict>
    </dict>
</plist>
